.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que el spinner esté por encima de otros elementos */
}

.spinner-overlay mat-spinner {
  width: 50px; /* Ajusta el ancho del spinner según tus necesidades */
  height: 50px; /* Ajusta la altura del spinner según tus necesidades */
}
