.full-width {
  width: 100%;
}

.button-add {
  background-color: green;
  color: white;
}

.button-cancel {
  background-color: red;
  color: white;
}

@media screen and (max-width: 768px) {
  .grid {
    width: 500px; /* Ancho de 500px en pantallas de 500px o menos */
  }
}

@media screen and (min-width: 768px) {
  .table-responsive {
    overflow-x: hidden; /* Ocultar scroll en pantallas más anchas que 500px */
  }
}
