<div class="grid">
  <div class="col-6">
    <div class="square">
      <img src="../assets/imagenes/avatar.jpg" class="img-fluid" (click)="verAlumnos()">
    </div>
  </div>
  <div class="col-6">
    <div class="square">
      <img src="../assets/imagenes/materia.jpg" class="img-fluid" (click)="verClases()">
    </div>
  </div>
  <div class="col-6">
    <div class="square">
      <img src="../assets/imagenes/course.png" class="img-fluid" (click)="verCursos()">
    </div>
  </div>
  <div class="col-6" *ngIf="(usuario$ | async)?.rol?.id == 1">
    <div class="square">
      <img src="../assets/imagenes/usuario.png" class="img-fluid" (click)="verUsuarios()">
    </div>
  </div>
</div>

